#blog-logo {
    width: 64px;
    height: 64px;
}

#page-title {
    color: var(--text-primary);
    font-size: var(--title-XL-size);
    font-weight: var(--title-XL-weight);
}

.appbar {
    height: 128px;
    background-color: var(--color-primary);
    display: flex;
}

.appbar-left {
    display: flex;
    justify-content: space-between;
    gap: var(--space-24);
    margin-left: 48px;
    align-items: center;
}

.appbar-right {
    display: flex;
    justify-content: space-between;
    gap: var(--space-24);
    margin-right: 32px;
    margin-left: auto;
    align-items: center;
}

.tab-item {
    color: var(--text-on-primary);
    font-size: var(--title-medium-size);
    font-weight: var(--title-medium-weight);
}

.active-tab {
    color: orange;
}

.appbar-right a {
  text-decoration: none;
}