body {
  margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-body {
    flex: 1; /* flex-grow is 1 so it can grow, but the header and footer don't grow */
    overflow-y: scroll;
}