body {
  margin: 0;
  background-color: var(--text-tertiary);
}

#home-page {
  margin: var(--space-24) 32px var(--space-24) 32px;
  background-color: var(--text-on-primary);
  border-radius: var(--radius-medium);
  padding-top: 1px; /* to avoid child margin collapse with parent margin */
  padding-bottom: 1px;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-body {
    flex: 1; /* flex-grow is 1 so it can grow, but the header and footer don't grow */
    overflow-y: scroll;
    padding-bottom: var(--space-8);
}

.error-message {
  color: var(--text-error);
  font-size: var(--paragraph-medium-size);
  font-weight: var(--paragraph-medium-weight);
}