#post-list-container {
    margin-top: 32px;
}

#post-container {
    display: flex;
    justify-content: space-between;
    gap: 54px;
    margin-left: 256px;
    margin-right: 256px;
    border: 1px solid var(--border-secondary);
    border-radius: var(--radius-medium);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 32px;
}

#user-avatar-container {
    
}

#user-avatar-placeholder {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: yellow;
    margin-top: 24px;
    margin-left: 54px;
}

#post-content-container {
    flex: 1; /* grow to take the remaining horizontal space */
    margin-right: var(--space-24);
}

#post-content-container h2 {
    color: var(--text-primary);
    font-size: var(--title-large-size);
    font-weight: var(--title-large-weight);
    margin-top: var(--space-24);
}

#post-content-container p {
    color: var(--text-primary);
    font-size: var(--paragraph-medium-size);
    font-weight: var(--paragraph-medium-weight);
    margin-top: var(--space-24);
}

#post-content-container h3 {
    color: var(--text-secondary);
    font-size: var(--paragraph-medium-size);
    font-weight: var(--paragraph-medium-weight);
    margin-top: var(--space-24);
}

#option-list-container {
    align-self: flex-end;
    display: flex;
    align-items: flex-start;
    gap: var(--space-8);
}

#option-item-container {
    width: 140px;
}

#dot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-4);
    padding-left: var(--space-4);
    padding-right: var(--space-4);
}

.option-item-cell {
    height: 42px;
    display: flex;
    align-items: center;
    padding-left: var(--space-8);
    color: var(--text-primary);
    font-size: var(--label-large-size);
    font-weight: var(--label-large-weight);
    border: 1px solid var(--border-primary);
}

.grey-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-secondary);
}

.more-option-container {
    margin-top: var(--space-24);
    margin-right: 36px;
}